.con {
	position: relative;
}
.con .select {
	position: relative;
	padding-left: 20px;
	height: 58px;
	background-color: #037eb7;
}
.con .select select {
	
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 14px;
	margin: 10px 10px 0 0;
	width: 127px;
	height: 30px;
}
.con .select select:nth-child(3) {
	left: 160px;
}
.list_num {
	position: absolute;
	width: 584px;
	padding: 11px 0;
	bottom: 22px;
	left: 169px;
	border: 1px solid #0b76a6;
	background-color: #fff;
}
.list_num .list-item p {
	height: 22px;
	line-height: 22px;
}
.list_num .list-item p:nth-child(2),
.list_num .list-item p:nth-child(3) {
	border-right: 1px solid #e4e4e4;
}
.list_num .list-item:nth-child(1) {
	width: 110px;
}
.list_num .list-item:nth-child(2) {
	width: 80px;
}
.list_num .list-item:nth-child(3) {
	width: 80px;
}
.list_num .list-item:nth-child(4) {
	width: 130px;
}
.list_num .list-item:nth-child(5) {
	width: 115px;
}
.list_num .list-item:nth-child(6) {
	width: 69px;
}
.list_num .list-item {
	text-align: center;
}
.list_num .list-item p {
	color: #212121;
	font-size: 13px;
	font-weight: 700;
}
