@charset "utf-8";
.term p {
	margin-left: 4%;
	font-size: 16px;
	line-height: 80px;
}
.term p select {
	border: 1px solid #eee;
	padding: 5px 40px;
	color: #d3d3d3;
}
.con_right form {
	border-bottom: 2px solid #f3f3f3;	
}
.con_right .term {
	position: relative;
	width: 90%;
}
.con_right .term .polling {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 70px;
	height: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #01aaef;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
}
.table {
	width: 88%;	
	padding-left: 3%;
}
/*查询说明*/
.explain {
	margin-top: 10px;
	text-indent: 10px;
	border-left: 2px solid #00aaef;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
}
.explain span {
	cursor: pointer;
}
.explain span img {
	width: 20px;
	vertical-align: sub;
}
.sheet {
	margin-top: 20px;
}
.sheet table {
	width: 100%;
}
.sheet table thead tr th {
	cursor: pointer;
}
.sheet table thead tr th,
.sheet table tbody tr td {
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	border: 1px solid #000;
}
.select {
	text-decoration:underline;
}
.select .iocn {
    height: 20px;
    width: 20px;
    padding-top: 4px;
    margin-right: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    font-style: normal;
    position: relative;
    vertical-align: middle;	
    background-image: url(../../img/down2.png);
    background-size: 100% 100%;
}
#main {
	margin-top: 20px;
}
.zr-element {
	height: 300px!important;
}
