@charset "utf-8";
html,body {
	height: 100%;
	min-width: 1000px;
}
.top {
    /* padding-right: 40px; */
    height: 60px;
    line-height: 60px;
    background: url(../img/background.png) no-repeat;
    position: fixed;
    width: 98%;
    padding-right: 2%;
    z-index: 9;
}
.top p {
	margin-left: 40px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}
.top p img {
	vertical-align: middle;
}
.top p .manage {
	width: 30px;
	margin-right: 10px;
}
/*左侧导航*/
.wrap {
	height: 95.5%;
}
.list {
    width: 100%;
    height: 100%;
    background-color: #0183bf;
    position: fixed;
    top: 0;
   
    z-index: 3;
}
.list li {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.active {
	background-color: #01aaef;
}
.list li a {
	display: block;
	color: #fff;
	font-size: 16px;
}
/*右侧内容*/
.con {
    width: 100%;
}
.real_time {
	background-color: #0183bf;
}
.real_time li {
	width: 15%;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.real_time li a {
	display: block;
	color: #fff;
	font-size: 16px;
}

/*分页*/
.page {
	width: 25%;
	margin: 20px auto 0;
}
.page span {
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	cursor: pointer;
	background-color: #01aaef;
	color: #fff;
}
/*
.page span:hover {
	
}*/