@charset "utf-8";
html,
body {
	height: 100%;
	min-width: 1000px;
}

.top {
	position: fixed;
	z-index: 9;
	width: 98%;
	height: 84px;
	padding-right: 2%;
	line-height: 84px;
	background: url(../img/background.png) no-repeat;
	background-size: 100% 100%;
}

.top p {
	margin-left: 40px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}

.top p:nth-child(1) {
	font-size: 24px;
}

.top p img {
	vertical-align: middle;
}

.top p .manage {
	width: 30px;
	margin-right: 10px;
}

.list {
	position: fixed;
	top: 84px;
	width: 139px;
	height: 100%;
	background-color: #0083be;
}

.list .list-item .one {
	position: relative;
	height: 58px;
	font-size: 20px;
	color: #fff;
	line-height: 58px;
	text-align: center;
	cursor: pointer;
}

.list-item .one i {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 5px;
	bottom: 0;
	margin: auto;
	background-size: 100% 100%;
	background-image: url(../img/up.png);
}

.list-item .one .roate {
	background-image: url(../img/pull.png);	
}

.list .list-item .active {
	background-color: #00aaee;
}

.list .list-item .next {
	display: none;
}
.next p {
	height: 40px;
	line-height: 40px;
	text-indent: 52px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.con {
	padding-left: 139px;
	padding-top: 84px;
}


#allmap {
	height: 685px;
}
/*iframe {
	height: 100%;
	border: 0;
}*/
@media screen and (max-width: 1366px) {
	#allmap {
		height: 504px;
	}
}
.lq-datetimepick {
				top: 0!important;
				left: 0!important;
				bottom: 0!important;
				right: 0!important;
				margin: auto;
				height: 325px!important;
			}
			.lq-datetimepick .datetime-arr {
				display: none;
				
			}
