@charset "utf-8";
html,body {
	width: 100%;
	height: 100%;
	background-color: #d0e5f8;
}
.warp {
	position: fixed;
	width: 100%;
	height: 500px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.warp .con {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 200px;
	background-color: #0d6cbe;
}
.right {
	position: relative;
	width: 50%;
	height: 100%;
	margin-left: 40%;
}
.right>p {
    position: absolute;
    top: -180px;
    left: -72px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: -1;
    width: 500px;
    height: 420px;
    padding-top: 80px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    background: url(../img/index2.png) no-repeat;
    background-size: 100% 100%;
}
.right form {
	width: 65%;
    height: 100%;
    background: url(../img/index1.png) no-repeat;
    background-size: 100% 102%;
    background-position-y: -2px;	
}
.right form p {
	width: 65%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	margin: 0 auto;
}
.right form p:nth-child(1) {
	margin-top: 5%;
}
.right form p span {
	color: transparent;
}
.right form p label {
	color: #3798e9;	
}
.right form p input {
	width: 185px;
	height: 25px;
	border-radius: 5px;
    box-shadow: inset 0px 1px 4px #000;
}
.right form p:nth-child(3) input {
	width: 100px;
}
.right form p:nth-child(3) img {
	width: 80px;
	height: 30px;
	vertical-align: middle;
}
.right>img {
	width: 200px;
	margin-left: -40px ;
}
.logn {
	display: block;
	width: 30%;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	background-color: #1266ae;
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

