
body{
	width: 100%;
	height: 100%;
	position: fixed;
}
img.background{
	width:100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.login-dialog{
	width:600px;
	height: 160px;
	background: url(../img/login/login_dialog.png);
	background-size: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 30%;
	margin: 0 auto;
}
.login-form{
	position: relative;
	top: 105px;
	left: 20px;
	
}
.login-form img{
	vertical-align:middle;
}
.login-dialog input[type='text'],.login-dialog input[type='password']{
	width: 160px;
	height: 32px;
	border: 0;
	background-repeat: no-repeat;
	background-position: left;
}

.login-dialog input[type='image']{	
	vertical-align:middle;
}
.login-dialog input[name='loginName']{
	background-image: url(../img/login/011-contact-user-icon@2x.png);
	text-indent: 4rem;
}
.login-dialog input[name='password']{
	background-image: url(../img/login/053-lock-icon@2x.png);
	text-indent: 4rem;
}
.login-dialog input[name='vcode']{
	width: 60px;
}

