<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
<!-- 电梯 -->
	<bean name="/elevatorAction" class="com.jrsoft.fri.dagl.action.DaxxElevatorAction">
		<property name="elevatorService" ref="elevatorService" />
	</bean>
	<bean id="elevatorService" class="com.jrsoft.fri.dagl.service.DaxxElevatorServiceImpl">
		<property name="elevatorDao"  ref="elevatorDao" />
	</bean>
	<bean id="elevatorDao" class="com.jrsoft.fri.dagl.dao.DaxxElevatorDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 电梯 -->
    
    <!--电梯网关 -->
	<bean name="/gatewayAction" class="com.jrsoft.fri.dagl.action.DaxxGatewayAction">
		<property name="gatewayService" ref="gatewayService" />
	</bean>
	<bean id="gatewayService" class="com.jrsoft.fri.dagl.service.DaxxGatewayServiceImpl">
		<property name="gatewayDao"  ref="gatewayDao" />
	</bean>
	<bean id="gatewayDao" class="com.jrsoft.fri.dagl.dao.DaxxGatewayDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 电梯网关 -->
    
    
    <!-- 维保单位 -->
	<bean name="/maintenanceUnitAction" class="com.jrsoft.fri.dagl.action.DaxxMaintenanceUnitAction">
		<property name="maintenanceUnitService" ref="maintenanceUnitService" />
	</bean>
	<bean id="maintenanceUnitService" class="com.jrsoft.fri.dagl.service.DaxxMaintenanceUnitServiceImpl">
		<property name="maintenanceUnitDao"  ref="maintenanceUnitDao" />
	</bean>
	<bean id="maintenanceUnitDao" class="com.jrsoft.fri.dagl.dao.DaxxMaintenanceUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 维保单位 -->
    
    
    <!-- 维保人员 -->
	<bean name="/maintenanceUsersAction" class="com.jrsoft.fri.dagl.action.DaxxMaintenanceUsersAction">
		<property name="maintenanceUsersService" ref="maintenanceUsersService" />
	</bean>
	<bean id="maintenanceUsersService" class="com.jrsoft.fri.dagl.service.DaxxMaintenanceUsersServiceImpl">
		<property name="maintenanceUsersDao"  ref="maintenanceUsersDao" />
	</bean>
	<bean id="maintenanceUsersDao" class="com.jrsoft.fri.dagl.dao.DaxxMaintenanceUsersDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 维保人员 -->
    
    <!-- 区域 -->
	<bean name="/regionAction" class="com.jrsoft.fri.dagl.action.DaxxRegionAction">
		<property name="regionService" ref="regionService" />
	</bean>
	<bean id="regionService" class="com.jrsoft.fri.dagl.service.DaxxRegionServiceImpl">
		<property name="regionDao"  ref="regionDao" />
	</bean>
	<bean id="regionDao" class="com.jrsoft.fri.dagl.dao.DaxxRegionDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 区域 -->
    
    <!-- 使用单位 -->
	<bean name="/useUnitAction" class="com.jrsoft.fri.dagl.action.DaxxUseUnitAction">
		<property name="useUnitService" ref="useUnitService" />
	</bean>
	<bean id="useUnitService" class="com.jrsoft.fri.dagl.service.DaxxUseUnitServiceImpl">
		<property name="useUnitDao"  ref="useUnitDao" />
	</bean>
	<bean id="useUnitDao" class="com.jrsoft.fri.dagl.dao.DaxxUseUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 使用单位 -->
   
	
	</beans>
