<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
<!-- 网关通信日志 -->
	<bean name="/logAction" class="com.jrsoft.fri.xtsz.action.XtszLogAction">
		<property name="logService" ref="logService" />
	</bean>
	<bean id="logService" class="com.jrsoft.fri.xtsz.service.XtszLogServiceImpl">
		<property name="logDao"  ref="logDao" />
	</bean>
	<bean id="logDao" class="com.jrsoft.fri.xtsz.dao.XtszLogDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 网关通信日志 -->
	<!-- 系统帮助 -->
	<bean name="/helpAction" class="com.jrsoft.fri.xtsz.action.XtszHelpAction">
		<property name="helpService" ref="helpService" />
	</bean>
	<bean id="helpService" class="com.jrsoft.fri.xtsz.service.XtszHelpServiceImpl">
		<property name="helpDao"  ref="helpDao" />
	</bean>
	<bean id="helpDao" class="com.jrsoft.fri.xtsz.dao.XtszHelpDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 系统帮助 -->
    
    <!-- 报警短信 -->
	<bean name="/messageAction" class="com.jrsoft.fri.xtsz.action.XtszMessageAction">
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="messageService" class="com.jrsoft.fri.xtsz.service.XtszMessageServiceImpl">
		<property name="messageDao"  ref="messageDao" />
	</bean>
	<bean id="messageDao" class="com.jrsoft.fri.xtsz.dao.XtszMessageDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 报警短信 -->
    
    <!-- 省 -->
	<bean name="/provinceAction" class="com.jrsoft.fri.xtsz.action.ProvinceAction">
		<property name="provinceService" ref="provinceService" />
	</bean>
	<bean id="provinceService" class="com.jrsoft.fri.xtsz.service.ProvinceServiceImpl">
		<property name="provinceDao"  ref="provinceDao" />
	</bean>
	<bean id="provinceDao" class="com.jrsoft.fri.xtsz.dao.ProvinceDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 省-->
    <!--市 -->
	<bean name="/cityAction" class="com.jrsoft.fri.xtsz.action.CityAction">
		<property name="cityService" ref="cityService" />
		<property name="provinceService" ref="provinceService" />
	</bean>
	<bean id="cityService" class="com.jrsoft.fri.xtsz.service.CityServiceImpl">
		<property name="cityDao"  ref="cityDao" />
	</bean>
	<bean id="cityDao" class="com.jrsoft.fri.xtsz.dao.CityDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 市 -->
    <!-- 区-->
	<bean name="/areaAction" class="com.jrsoft.fri.xtsz.action.AreaAction">
		<property name="areaService" ref="areaService" />
		<property name="cityService" ref="cityService" />
		<property name="provinceService" ref="provinceService" />
	</bean>
	<bean id="areaService" class="com.jrsoft.fri.xtsz.service.AreaServiceImpl">
		<property name="areaDao"  ref="areaDao" />
	</bean>
	<bean id="areaDao" class="com.jrsoft.fri.xtsz.dao.AreaDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 区 -->
	</beans>
