<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
<!-- 系统用户 -->
	<bean name="/usersAction" class="com.jrsoft.fri.xtgl.action.XtglUsersAction">
		<property name="usersService" ref="usersService" />
		<property name="authorityService"  ref="authorityService" />
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<bean id="usersService" class="com.jrsoft.fri.xtgl.service.XtglUsersServiceImpl">
		<property name="usersDao"  ref="usersDao" />
	</bean>
	<bean id="usersDao" class="com.jrsoft.fri.xtgl.dao.XtglUsersDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 系统用户 -->
    
    <!-- 维保单位 -->
	<bean name="/maintenanceUnitAction" class="com.jrsoft.fri.xtgl.action.XtglMaintenanceUnitAction">
		<property name="maintenanceUnitService" ref="maintenanceUnitService" />
	</bean>
	<bean id="maintenanceUnitService" class="com.jrsoft.fri.xtgl.service.XtglMaintenanceUnitServiceImpl">
		<property name="maintenanceUnitDao"  ref="maintenanceUnitDao" />
	</bean>
	<bean id="maintenanceUnitDao" class="com.jrsoft.fri.xtgl.dao.XtglMaintenanceUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 维保单位 -->
    
    
    <!-- 维保人员 -->
	<bean name="/maintenanceUsersAction" class="com.jrsoft.fri.xtgl.action.XtglMaintenanceUsersAction">
		<property name="maintenanceUsersService" ref="maintenanceUsersService" />
	</bean>
	<bean id="maintenanceUsersService" class="com.jrsoft.fri.xtgl.service.XtglMaintenanceUsersServiceImpl">
		<property name="maintenanceUsersDao"  ref="maintenanceUsersDao" />
	</bean>
	<bean id="maintenanceUsersDao" class="com.jrsoft.fri.xtgl.dao.XtglMaintenanceUsersDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 维保人员 -->
    
    <!-- 使用单位 -->
	<bean name="/useUnitAction" class="com.jrsoft.fri.xtgl.action.XtglUseUnitAction">
		<property name="useUnitService" ref="useUnitService" />
	</bean>
	<bean id="useUnitService" class="com.jrsoft.fri.xtgl.service.XtglUseUnitServiceImpl">
		<property name="useUnitDao"  ref="useUnitDao" />
	</bean>
	<bean id="useUnitDao" class="com.jrsoft.fri.xtgl.dao.XtglUseUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 使用单位 -->
	
	<!-- 救援单位 -->
	<bean name="/rescueUnitAction" class="com.jrsoft.fri.xtgl.action.XtglRescueUnitAction">
		<property name="rescueUnitService" ref="xtglRescueUnitService" />
	</bean>
	<bean id="xtglRescueUnitService" class="com.jrsoft.fri.xtgl.service.XtglRescueUnitServiceImpl">
		<property name="rescueUnitDao"  ref="xtglRescueUnitDao" />
	</bean>
	<bean id="xtglRescueUnitDao" class="com.jrsoft.fri.xtgl.dao.XtglRescueUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 救援单位 -->
    
    	<!-- 系统权限 -->
	
	<bean id="authorityService" class="com.jrsoft.fri.xtgl.service.XtglAuthorityServiceImpl">
		<property name="authorityDao"  ref="authorityDao" />
	</bean>
	<bean id="authorityDao" class="com.jrsoft.fri.xtgl.dao.XtglAuthorityDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 系统权限 -->
	
	<!-- 制造单位 -->
	<bean name="/makeUnitAction" class="com.jrsoft.fri.xtgl.action.XtglMakeUnitAction">
		<property name="makeUnitService" ref="makeUnitService" />
	</bean>
	<bean id="makeUnitService" class="com.jrsoft.fri.xtgl.service.XtglMakeUnitServiceImpl">
		<property name="makeUnitDao"  ref="makeUnitDao" />
	</bean>
	<bean id="makeUnitDao" class="com.jrsoft.fri.xtgl.dao.XtglMakeUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 制造单位 -->
    <!--物业单位 -->
	<bean name="/propertyUnitAction" class="com.jrsoft.fri.xtgl.action.XtglPropertyUnitAction">
		<property name="propertyUnitService" ref="propertyUnitService" />
	</bean>
	<bean id="propertyUnitService" class="com.jrsoft.fri.xtgl.service.XtglPropertyUnitServiceImpl">
		<property name="propertyUnitDao"  ref="propertyUnitDao" />
	</bean>
	<bean id="propertyUnitDao" class="com.jrsoft.fri.xtgl.dao.XtglPropertyUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 物业单位 -->
    <!-- 区域单位 -->
	<bean name="/regionUnitAction" class="com.jrsoft.fri.xtgl.action.XtglRegionUnitAction">
		<property name="regionUnitService" ref="regionUnitService" />
	</bean>
	<bean id="regionUnitService" class="com.jrsoft.fri.xtgl.service.XtglRegionUnitServiceImpl">
		<property name="regionUnitDao"  ref="regionUnitDao" />
	</bean>
	<bean id="regionUnitDao" class="com.jrsoft.fri.xtgl.dao.XtglRegionUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 区域单位 -->
    <!-- 保险单位 -->
	<bean name="/safeUnitAction" class="com.jrsoft.fri.xtgl.action.XtglSafeUnitAction">
		<property name="safeUnitService" ref="safeUnitService" />
	</bean>
	<bean id="safeUnitService" class="com.jrsoft.fri.xtgl.service.XtglSafeUnitServiceImpl">
		<property name="safeUnitDao"  ref="safeUnitDao" />
	</bean>
	<bean id="safeUnitDao" class="com.jrsoft.fri.xtgl.dao.XtglSafeUnitDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
    <!-- 保险单位 -->
	
	</beans>
