@charset "utf-8";
/*添加管理员*/
.user_list {
	/*display: none;*/
}
.user_list .tiao {
	width: 70%;
}
.user_list .add {
	width: 100px;
	height: 30px;
	margin: 20px 0 20px 30px;
    border-bottom: 1px solid #E4E4E4;
    background: #01aaef 20px center/15px 15px no-repeat;
	background-image: url("../../img/add.png");
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.user_list p img {
	width: 20px;
	vertical-align: sub;
}
.user_list .delete_batch {
	width: 100px;
	height: 30px;
	margin: 20px 0 20px 5%;
    border-bottom: 1px solid #E4E4E4;
    background-color: #01aaef;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.user_list .export {
	width: 100px;
	height: 30px;
	margin: 20px 0 20px 5%;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;	
}
.table {
	width: 95%;
	margin: 0 auto;
}
.table table {
	width: 100%;
}
.table table thead tr th,
.table table tbody tr td {
	font-size: 16px;
	text-align: center;
	border: 1px solid #000;
	padding: 10px;
}
.add_user ,
.delete {
	cursor: pointer;
}
.add_user img,
.delete img {
	width: 20px;
	vertical-align: sub;
}
/*增加/修改信息*/
.add_info {
	width: 90%;
	margin: 40px auto 0;
	text-align: center;
}
.add_info p {
	position: relative;
	line-height: 50px;
}
.add_info p span {
    color: red;
    font-size: 14px;
}
.add_info p input,
.add_info p select {
	width: 300px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #000;
	font-size: 14px;
	text-indent: 20px;
}
.add_info label {
	
	width: 30%;
	font-size: 20px;
	text-align: right;	
}
#content {
	height: 100px;
}
.add_info p:last-child{
	margin: 20px auto 0;
}
.add_info .sure,
.add_info .reset {
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background-color: #00a8ef;
	font-size: 14px;
	cursor: pointer;
	text-indent: 0;
	border: 1px solid #00a8ef;
	
}
.add_info .reset {
	margin-left: 40px;
}

.select {
	cursor: pointer;	
}
.table em {
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	margin-top: 2px;
}
.table .selected {
	background: url("../../img/gou.png") no-repeat;
	background-size: 100% 100%;
}
.choose form {
    padding: 0 30px;
    border-bottom: 2px solid #eee;
}
.choose .term {
    position: relative;
    width: 60%;
}
.choose .term p {
    position: relative;
    font-size: 16px;
    line-height: 70px;
}
.choose .term .place {
    margin-left: 30px;
}
.choose .term .polling {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #01aaef;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}
.choose .term p input,
.choose .term p select {
    width: 150px;
    height: 30px;
    border: 1px solid #dadada;
    background-color: transparent;
    text-align: center;
}