<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <context-param>
    <param-name>requestEncoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>responseEncoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    		/WEB-INF/police/applicationContext-xtgl.xml,
    		/WEB-INF/police/applicationContext-dtjk.xml,
    		/WEB-INF/police/applicationContext-gzcl.xml,
			/WEB-INF/system/applicationContext-sys.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.jrsoft.fri.common.utils.OnlineUserListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>log4jConfigListener</servlet-name>
    <servlet-class>org.springframework.web.util.Log4jConfigServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>smartInit</servlet-name>
    <servlet-class>
	        smart.sys.platform.servlets.InitSmartServlet
	    </servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>
	        org.springframework.web.context.ContextLoaderServlet
	    </servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
       /WEB-INF/police/struts-config-xtgl.xml,
       /WEB-INF/police/struts-config-gzcl.xml,
      /WEB-INF/police/struts-config-dtjk.xml
		</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proxoolServletConfigurator</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/conf/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/pool-admin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>singleSession</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>smart.sys.platform.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>*.action</url-pattern>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminLoginFilter</filter-name>
    <filter-class>smart.sys.platform.filters.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminLoginFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userLoginFilter</filter-name>
    <filter-class>smart.sys.platform.filters.UserLoginFilter</filter-class>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>userLoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>/example/*</url-pattern>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>
   <!-- 登录 -->
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>com.jrsoft.fri.xtgl.action.UserLoginServlet</servlet-class>
    <init-param>
      <param-name>systemName</param-name>
      <param-value>示例系统</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
   <!-- 登录 -->
  <!-- 退出登录 -->
   <servlet>
    <servlet-name>userLogout</servlet-name>
    <servlet-class>com.jrsoft.fri.xtgl.action.UserLogout</servlet-class>
    <init-param>
      <param-name>RPMS</param-name>
      <param-value>科研管理系统</param-value>
    </init-param>
    <init-param>
      <param-name>welcomePage</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogout</servlet-name>
    <url-pattern>/userLogout</url-pattern>
  </servlet-mapping>
   <!-- 退出登录 -->
<!-- 随机验证码 -->
<servlet>  
    <description>输出验证码</description>  
    <display-name>This is the display name of my J2EE component</display-name>  
    <servlet-name>PictureCheckCode</servlet-name>  
    <servlet-class>smart.sys.platform.servlets.PictureCheckCode</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>PictureCheckCode</servlet-name>  
    <url-pattern>/PictureCheckCode</url-pattern>  
  </servlet-mapping>  
  <welcome-file-list>  
    <welcome-file>/login.jsp</welcome-file>  
  </welcome-file-list>
<!-- 随机验证码 -->

  
  <!-- session 失效时间 单位为分钟-->
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  
  
<!--404\500错误友好提示界面 start-->
  	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
  	</error-page>
  	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
  	</error-page>
<!--404\500错误友好提示界面 end-->

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>